[submodule "cmake"]
	path = cmake
	url = https://github.com/fastogt/cmake.git
[submodule "build/pybuild_utils"]
	path = build/pybuild_utils
	url = https://github.com/fastogt/pybuild_utils.git
[submodule "src/third-party/ini/inih"]
	path = src/third-party/ini/inih
	url = https://github.com/benhoyt/inih.git
[submodule "src/third-party/libev/src"]
	path = src/third-party/libev/src
	url = https://github.com/fastogt/libev.git
[submodule "src/third-party/json-c"]
	path = src/third-party/json-c
	url = https://github.com/fastogt/json-c
